* {
    box-sizing: border-box;
  }

  .row { 
    display: flex;
  }
  

  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
  }
  .column img {
    padding: 4px;
    width: 100%;
    height: 100%;
  }

.item-1{
    width: 250px;
    height: 200px;
}    
.item-2{
    height: 250px;
    width: 250px;
} 
.item-3{
    height: 100px;
    width: 250px;
}
.item-4{
    width: 200px;
    height: 200px;
}
.item-5{
    width: 250px;
    height: 200px;
}
.item-6{
    height: 250px;
    width: 250px;
} 
.item-7{
    height: 100px;
    width: 250px;
}
.item-8{
    width: 200px;
    height: 200px;
}
.item-9{
    width: 250px;
    height: 200px;
}
.item-10{
    height: 250px;
    width: 250px;
} 
.item-11{
    height: 100px;
    width: 250px;
}
.item-12{
    width: 200px;
    height: 200px;
}
.item-13{
    width: 250px;
    height: 200px;
}
.item-14{
    height: 250px;
    width: 250px;
} 
.item-15{
    height: 100px;
    width: 250px;
}
.item-16{
    width: 200px;
    height: 200px;
}
.item-17{
    width: 250px;
    height: 200px;
}
.item-18{
    height: 250px;
    width: 250px;
} 
.item-19{
    height: 100px;
    width: 250px;
}
.item-20{
    width: 200px;
    height: 200px;
}
.item-21{
    width: 250px;
    height: 200px;
}
.item-22{
    height: 250px;
    width: 250px;
} 
.item-23{
    height: 100px;
    width: 250px;
}
.item-24{
    width: 200px;
    height: 200px;
}